
body{
    background-image: url("../img/fondo_tecg_azul2.jpg");
    background-attachment: fixed;

    }


#logo{

    background: #1F87c4;

  }

  #menu ul li:hover{
    background: #1F87c4;
  }

  .button-more{
    background: #1F87c4;

    }
