*{
margin:0px;
padding:0px;
list-style: none;

}

.clearfix{logo
  float: none;
  clear: both;
}



body{
background: url(../img/hojas.jpg);
background-attachment: fixed;

}

#contacto{
  float: none;
}
#global{
  width: 65%;
  margin: 0px auto;
  margin-top: 30px;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 0px 2px  grey;

}

#logo{
  font-family: "verdana", "Arial";
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 70px;
  color: white;
  text-align: center;
  width: 385px;
  height: 80px;
  margin-bottom: 20px;
  float:left;
  text-transform: uppercase;
}


#menu{
  font-family: Helvetica, Arial;
  background: #333;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;

}

#menu ul{
  line-height: 46px;
  list-style: none;
}

#menu  ul li{
  height: 46px;
  display: inline-block;
  transition: all 300ms;
}

.nuestra_historia{
  width: 70%;
  float: left;
  font-family: Helvetica, Arial;
  padding: 19px;
  text-align: justify;

}



#menu a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}



 #posts{
  width: 70%;
  float: left;
  font-family: Helvetica, Arial;

   }

   .post{
    padding: 5px;
    text-align: justify;


   }


.post h2 {
  font-size: 30px;
  color: #333;
}
.post .date {
  display: block;
  color: gray;
  margin-top: 10px;
}

.post p {
  margin-top:10px;
  margin-bottom: 20px;
  line-height: 20px;
}

.button-more{
  font-size: 14;
  text-align: center;
  padding: 15px;

  color: white;
  text-decoration: none;
  margin-top: 10;
  display: block;
  width: 70px;
  float: auto;
  margin-bottom:25px;
  margin-top:23;

}

#sidebar{
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  float: right;

}

 #sidebar h4{
margin-top: 50px;
margin-bottom: 20px;
text-align: center;
line-height: 10px;
color: #333;
background: url("../img/lines.png") repeat-x;

}

#sidebar h4 span{
  background:white;
  padding: 5px;

}

#sidebar img{
  width: 100%;
}

#sidebar p{
  font-size:15px;
  text-align: justify;

}

form input[type="text"]
form input[type="password"]
form input[type="email"]{
padding: 5px;
border-radius: 2px;
border: 1px solid #ccc;
width: 80%;
margin-bottom:15px;
margin-top: 10px;

}
form input[type="submit"]{
  margin-top: 7px;

  padding: 7px;
  background: #ccc;
  padding: 5px;
  border: 1px solid gray;
  cursor: pointer;


}


footer{

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 47;
  background: rgba(51, 51, 51,0.39);
  margin: 0px auto;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  line-height: 47px;
  text-align: left;

}



.bx-wrapper, .bx-viewport{
  height: 250px !important;
}

#selector-theme{
  position: fixed;
  top:45%;
  background: rgba(51,51,51,0.5);
  width: 50px;
  height:100px;

}

#to-green,
#to-red,
#to-blue{
width: 25px;
height: 25px;
border: 1px solid white;
display: block;
margin: 0px auto;
margin-top: 5px;
margin-bottom: 5px;
cursor: pointer;
}

#to-green{
  background: #235E3D;
}

#to-red{
  background: #CA3514;
}

#to-blue{
    background: #1F87c4;
  }


  .subir {
    color: ivory;
    float: right;
    display: block;
    text-decoration: none;


  }
